.container {
  display: grid;
  grid-template: auto 1fr / 1fr 4fr;
  min-height: 100vh;
}

.container div {
  color: white;
}

.container a {
  color: white;
}

.header {
  background-color: red;
  grid-area: 1/ 2 / 2 /-1;
}

.sidebar {
  background-color: blue;
  grid-row: 1 / 5;
}

.main-content {
  background-color: purple;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 15px;
}

.card,
.announcements,
.trending {
  background-color: orange;
  width: 100%;
  height: 100%;
}

.section-header {
}

.projects {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.side-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
